// vim: set filetype=c:
// ANSIBLE-MANAGED CONFIGURATION FILE
// Upstream config source:
//   https://github.com/davatorium/rofi/blob/next/doc/default_configuration.rasi

configuration {
  modi: "drun";
}

@theme "custom_theme"

