// vim: set filetype=c:
// ANSIBLE-MANAGED CONFIGURATION FILE
// Refs: modified material theme

///////////////////////////////////////////////////////////////////////////////
// ROFI WINDOW GLOBAL SETTINGS
///////////////////////////////////////////////////////////////////////////////

* {
  background-color: transparent;
  text-color: {{ color.text }};
}

window {
  transparency: "real";
  fullscreen: false;
  width: 50%;                  /* width % of screen size */
  border-radius: 10px;
  font: "{{ rofi_font }}";
  background-color: {{ color.main_window_bg }};
}

///////////////////////////////////////////////////////////////////////////////
// MAIN ROFI WINDOW CONTAINER
///////////////////////////////////////////////////////////////////////////////

mainbox {
  children: [inputbar, listview];
  spacing: 30px;
  padding: 30px 10px;
  border: 1px;
  border-color: {{ color.main_window_border }};
}

///////////////////////////////////////////////////////////////////////////////
// TOP USER-INPUT BAR WIDGET
///////////////////////////////////////////////////////////////////////////////

inputbar {
  children: [entry, case-indicator];
  padding: 10px 30px;
  margin: 0 10px 0 30px;
  border: 1px;
  border-color: {{ color.user_input_bar_border }};
}

///////////////////////////////////////////////////////////////////////////////
// BOTTOM APP-LIST WIDGET
///////////////////////////////////////////////////////////////////////////////

listview {
  scrollbar: true;
  margin: 0 10px 0 30px;
  lines: 10;              /* show this number-of-rows */
}

scrollbar {
  handle-width: 10px;
  border: 0 1px;
  margin: 0 0 0 20px;
  handle-color: {{ color.scroll_bar_handle }};
  border-color: {{ color.scroll_bar_border }};
  background-color: {{ color.scroll_bar_bg }};
}

element {
  padding: 1.5%;
  highlight: bold underline;
}

element selected {
  background-color: {{ color.list_selection_bg }};
}

