// vim: set filetype=c:
// ANSIBLE-MANAGED CONFIGURATION FILE
// Refs: modified material theme

///////////////////////////////////////////////////////////////////////////////
// ROFI WINDOW GLOBAL SETTINGS
///////////////////////////////////////////////////////////////////////////////

* {
  background-color: transparent;
  text-color: {{ color.text }};
}

window {
  transparency: "real";
  fullscreen: false;
  width: {{ main_window.screen_width_pct }}%;
  font: "{{ rofi_font }}";
  background-color: {{ color.main_window_bg }};
}

///////////////////////////////////////////////////////////////////////////////
// MAIN ROFI WINDOW CONTAINER
///////////////////////////////////////////////////////////////////////////////

mainbox {
  children: [inputbar, listview];
  spacing: {{ main_window.space_between_boxes_px }}px;
  padding: {{ main_window.padding_vertical_px }}px {{ main_window.padding_horizontal_px }}px;
  border: {{ main_window.border_width_px }}px;
  border-color: {{ color.main_window_border }};
}

///////////////////////////////////////////////////////////////////////////////
// TOP USER-INPUT BAR BOX
///////////////////////////////////////////////////////////////////////////////

inputbar {
  children: [entry, case-indicator];
  padding: {{ user_input_box.padding_vertical_px }}px {{ user_input_box.padding_horizontal_px }}px;
  margin: 0px {{ user_input_box.margin_right_horizontal_px }}px 0px {{ user_input_box.margin_left_horizontal_px }}px;
  border: {{ user_input_box.border_width_px }}px;
  border-color: {{ color.user_input_bar_border }};
}

///////////////////////////////////////////////////////////////////////////////
// BOTTOM APP-LIST BOX
///////////////////////////////////////////////////////////////////////////////

listview {
  scrollbar: true;
  margin: 0px {{ list_view_box.margin_right_horizontal_px }}px 0px {{ list_view_box.margin_left_horizontal_px }}px;
  lines: {{ list_view_box.row_height }};
}

scrollbar {
  handle-width: {{ scroll_bar.width_px }}px;
  margin: 0px 0px 0px {{ scroll_bar.margin_left_horizontal_px }}px;
  border: 0px {{ scroll_bar.border_width_px }}px;
  handle-color: {{ color.scroll_bar_handle }};
  border-color: {{ color.scroll_bar_border }};
  background-color: {{ color.scroll_bar_bg }};
}

element {
  padding: {{ list_view_box.padding_list_element_px }}px;
  highlight: bold underline;
}

element selected {
  background-color: {{ color.list_selection_bg }};
}

